
/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');



/******************************************/

.masthead {
    height: 160px;
    background-color: #FFAF5F;
}

/* Global Styles */

body {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
}

/********************************** Navigation **********************************/

.nav-ul {
	display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav-ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 64px;
    font-size: 1.2em;
    list-style-type: none;
}

.nav-ul li a {
    text-decoration: none;
    color: #6E4800;
}

.nav-ul li a:hover {
    cursor: pointer;
    color: white;
}

.logo {
    position: absolute;
    margin-left: 50%;
    
}

.logo:hover {
    cursor: pointer;
}

/* Menus */

#hmenu {
    display: none;
}


/********************************** Banner **********************************/

.banner {
    width: 100%;
    position: relative;
}

@font-face {
    font-family: lemon;
    src: url(../media/LemonMilk.otf);
}

.banner-title {
    position: absolute;
    top: 125px;
    left: 95px;
    font-family: lemon;
    color: white;
    font-size: 5em;
}

.banner-link {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-decoration: none;
    top: 300px;
    left: 95px;
    color: #FFAF5F;
    font-size: 1.6em;
}

/********************************** About**********************************/

.abt {
    height: 400px;
    margin-top: -22px;
    background-color: #FFAF5F;
}

.left {
    float: left;
    padding-left: 250px;
    padding-top: 100px;
    text-align: center;
}

.right {
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    padding: 20px;
    width: 50%;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.4em;
}

.left h1 {
    color: #6E4800;
    font-family: lemon;
    font-size: 2.5em;
}

.left h2 {
    color: #6E4800;
    font-family: lemon;
    font-size: 2.5em;
}

.left h3 {
    font-family: lemon;
    color: #A26400;
    font-size: 2em;
    margin-top: -25px;
}

/********************************** Menu **********************************/

.mnu {
    clear: both;
}

.column {
    float: left;
    padding-left: 95px;
    width: 20%;
}

.column h2 {
    color: #6E4800;
    font-family: lemon;
    font-size: 2.5em;
}

.column h3 {
    font-family: lemon;
    color: #FFAE15;
    font-size: 2em;
}

.column h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 1.5em;
}

.column2 {
    float: right;
    padding-top: 32px;
    width: 75%;
}

.column2 h3 {
    font-family: lemon;
    color: #FFAE15;
    font-size: 2em;
    margin-left: 200px;
}

.column2 h4 {
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    font-size: 1.7em;
    text-align: center;
}

.cof {
    list-style-type: none;
}

.cof li {
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    font-size: 1.5em;
    padding: 0;
    margin-left: -40px;
}

.pics {
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
}

/********************************** Community **********************************/

.com {
    position: relative;
    margin-top: 1100px;
    height: 600px;
    background-color: #FFAF5F;
}

.titlec h1 {
    position: absolute;
    font-family: lemon;
    color: #6E4800;
    font-size: 3em;
    top: 250px;
    left: 250px;
}

.media {
    position: absolute;
    top: 100px;
    right: 400px;
}



/********************************** Footer **********************************/

.footer {
    font-family: 'Lato', sans-serif;
	text-align: center;
	width: 100%;
	padding: 10px;
    background-color: #ccc;
    font-size: 1.1em;
}

.footer a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.footer a:hover{
    color: white;
}

/**************************************************** Tablet ****************************************************/

@media only screen and (max-width: 768px) {
}


/**************************************************** length of nav ****************************************************/

@media only screen and (max-width: 715px) {
        /* Navigation */

        .nav-ul {
            display: none;
        }
    
        .nav-ul.open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 0;
            margin-top: 75px;
        }
    
        .nav-ul.open li {
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #cdcdcd;
        }
    
        .logo {
            position: absolute;
            top: 20px;
        }
    
        /********************************** Menus **********************************/
    
        #hmenu {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 10px;
            width: 32px;
            height: 32px;
        }

       
}

/**************************************************** Mobile ****************************************************/

@media only screen and (max-width: 414px) {


    /* Navigation */

    .nav-ul {
		display: none;
	}

    .nav-ul.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-top: 75px;
    }

    .nav-ul.open li {
        text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px solid #cdcdcd;
	}

    .logo {
        position: absolute;
        top: 10px;
    }
    

    /********************************** Menus **********************************/

    #hmenu {
        display: inline-block;
		position: absolute;
		top: 20px;
		right: 10px;
		width: 32px;
		height: 32px;
    }

    /********************************** Footer **********************************/

    .footer {
        width: 95%;
        margin: 0 auto;
    }


}
